<div class="container">
  <form [formGroup]="registrationForm" (ngSubmit)="registration()">
    <div class="auth-title"> BANG! </div>
    <div class="auth-subtitle"> Registartion </div>

    <div class="auth-input">
      <input type="text" placeHolder="Username" class="form-control" formControlName="username">
    </div>
    <div class="auth-input">
      <input type="text" placeHolder="Password" class="form-control" type="password" formControlName="password">
    </div>
    <div class="auth-input">
      <input type="text" placeHolder="Password again" class="form-control" type="password" formControlName="confirmedPassword">
    </div>

    <div class="flex auth-submit">
      <button type="submit" class="btn btn-success"> Registartion </button>
    </div>

    <div class="auth-navigate" >
      <a [routerLink]="['../login']" style="color: brown;"> Login </a>
    </div>
  </form>
</div>
