<div class="chat-container" [ngStyle]="{bottom: fromBottom + 'px'}" (mouseenter)="setHovered(true)"  (mouseleave)="setHovered(false)">
  <div class="chat-table" [ngStyle]="{height: height + 'px'}">
      <ng-scrollbar #scrollable class="chat-list" *ngIf="hovered">
          <div class="list-item" *ngFor="let message of messages">
            <p style="font-style: italic;">{{message.userName}}: </p> 
            <p style="color: rgb(9, 6, 216); margin-left: 8px; font-weight: bold;">{{message.text}}</p>
          </div>
      </ng-scrollbar>
      <div class="chat">
          <input type="text" placeholder="Write message..." class="chat-input" [(ngModel)]="message">
          <div class="btn send-button" (click)="sendMessage()">
              <span class="material-icons button-text" style="margin-top: 7px;">sendoutlined</span>
          </div>
      </div>
  </div>
</div>


