.chat {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    color: white;
    padding: 0;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-table {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    color: white;
    height: 50px;
    width: calc(100% - 5px);
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 0;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
}

.chat-container {
    position: fixed;
    left: 0;
    height: 300px;
    width: 20%;
    min-width: 250px;
    display: flex;
    align-items: flex-end;
}

input { outline: none; }

.chat-input {
    -webkit-appearance: none;
    border: 0;
    width: calc(100% - 55px);
    margin: 5px;
    height: calc(100% - 10%);
    background: transparent;
    color: white;
}

.chat-list {
    height: calc(100% - 50px);
    --scrollbar-thumb-color: rgba(0, 0, 0, 0.6);
}

.send-button {
    width: calc(45px);
    margin: 5px;
    margin-right: 15px;
    height: calc(100% - 10%);
    background-color: white;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}

.button-text {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.list-item {
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    word-break: break-word;
    display: flex;
    flex-direction: row;
    justify-content: left;
}