<div class="chat-container" [ngStyle]="{bottom: fromBottom + 'px'}" (mouseenter)="setHovered(true)"  (mouseleave)="setHovered(false)">
    <div class="chat-table" [ngStyle]="{height: height + 'px'}">
        <ng-scrollbar #scrollable class="chat-list" *ngIf="hovered">
          <app-chat-stream [messages]="lobbyMessages"></app-chat-stream>
        </ng-scrollbar>
        <div class="chat">
          <form class="form-group row" (ngSubmit)="sendMessage()" #sendMessageForm="ngForm">
            <input type="text" placeholder="Write message..." [(ngModel)]="chatMessage" required class="form-control col-8" name="chatMessage" autocomplete="off" >
            <button class="btn send-button" [disabled]="!sendMessageForm.valid" type="submit">
                <span class="material-icons button-text">sendoutlined</span>
            </button>
          </form>
        </div>
    </div>
</div>



