@import 'src/assets/scss/common.scss';

.bg{
    background-image: $login;
    background-position: center top;
    background-size: cover;
}

.title{
    font-size: 5rem;
    color: $teal;
}


.login-title{
    color: $navy;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.m-3{
    margin-top: 2rem;
}
