.lobby-button {
    margin-top: 2%;
    text-align: center;
    width: 80%;
    height: 80px;
}

.history-button {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    width: 80%;
    height: 80px;
}

.account-button {
    bottom: 0;
    margin-bottom: 2%;
    text-align: center;
    width: 80%;
    height: 80px
}

.friend-list{
    width: 300px;
    position: absolute;
    right: 0;
    height: 100%;
}

.join-lobby {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 2%;
    text-align: center;
    width: 80%;
    height: 80px;
}

.button {
    background-color: #c0906d;     
    margin: 0px 10px 10px 10px;
    height: 50px;
    width: calc(80% - 20px);
    border-width: 2px;
    border-color: #FFFDDD;
    border-style: solid;  
    color:black;
    border-radius: 10px;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 40px;
    font-family: Cambria;
}