<div class="container">
    <div class="friend-list">
        <app-friend [inLobby]=false></app-friend>
    </div>

    <div>
        <button type="button" class="lobby-button btn btn-success" (click)="createLobby()"> Create lobby </button>
    </div>

    <form [formGroup]="joinLobbyForm" (ngSubmit)="joinLobby()" class="join-lobby">
        <input type="password" placeholder="Password" class="form-control" formControlName="password">
        <button type="submit" class="btn btn-success"> Join lobby </button>
    </form>


    <div>
        <button type="button" class="history-button btn btn-success" (click)="viewHistory()"> History </button>
    </div>

    <div>
        <button type="button" class="account-button btn btn-success" (click)="logout()"> Logout </button>
    </div>
    <div>
        <button type="button" class="account-button btn btn-success" (click)="deleteAccount()"> Delete account </button>
    </div>
</div>
