<div class="container">
    <div class="friend-list">
        <app-friend></app-friend>
    </div>

    <div>
        <button type="button" class="lobby-button" (click)="createLobby()"> Create lobby </button>
    </div>
    <div>
        <button type="button" class="lobby-button" (click)="joinLobby()"> Join lobby </button>
    </div>

    <div>
        <button type="button" class="history-button" (click)="viewHistory()"> History </button>
    </div>

    <div>
        <button type="button" class="account-button" (click)="logout()"> Logout </button>
    </div>
    <div>
        <button type="button" class="account-button" (click)="deleteAccount()"> Delete account </button>
    </div>
</div>
