<div class="container-fluid other-table" *ngIf="player" [ngClass]="getHighLightStyle()">
    <div class="row upper-row">
        <div class="col-3 px-0">
            <div (click)="playerSelected()" class="name" [ngClass]="playerTargetStyle()">{{player.userName}}</div>
        </div>
        <div class="col-9" style="padding-left: 0;">
            <div class="row health">
                <div class="col-2" *ngFor="let in of counter(player.actualHP)">
                    <img class="card img-fluid rounded" src="../../../assets/images/hp.png" alt="hp" />
                </div>
            </div>
        </div>
    </div>
    <div class="row body-row">
        <div class="col-6 col-md-3">
            <div class="row max-height transparent">
                <div class="card-list-container own-cards">
                    <img class="card-overlap img-fluid" src="../../../assets/cards/Cards/Background-plain.png" *ngIf="player.handPlayerCardCount != 0"
                        alt="card-back" placement="top" ngbTooltip="{{player.handPlayerCardCount}} cards" [openDelay]="500" />
                    <img class="card-overlap img-fluid" [src]="getCardCountPath()" *ngIf="player.handPlayerCardCount != 0"
                        alt="card-back" placement="top" ngbTooltip="{{player.handPlayerCardCount}} cards" [openDelay]="500" />
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 role">
            <div class="card-container">
                <img class="card img-fluid rounded" [src]="(canSeeRole() && roleService.getRolePath(player.roleType | roleType)) || '../../../assets/cards/Cards/Background.png'"
                        alt="role-pic" (mouseenter)="setRoleHovered($event, true)" (mouseleave)="setRoleHovered($event, false)" />
            </div>
        </div>
        <div class="col-6 col-md-3 character">
            <div class="card-container">
                <img class="card img-fluid rounded" [src]="characterService.getCharacterPath(player.characterType | characterType)"
                        alt="character-pic" (mouseenter)="setCharacterHovered($event, true)" (mouseleave)="setCharacterHovered($event, false)" />
            </div>
        </div>
        <div class="col-6 col-md-3 gun">
            <div class="card-container">
                <app-card [card]="cardService.getWeapon(player.tablePlayerCards)" [width]="92" [height]="142" (cardHoverEvent)="setCardHovered($event)"></app-card>
            </div>
        </div>
    </div>
    <div class="row table-row">
        <div class="col-3" *ngFor="let card of getNotWeapons()">
            <app-card (click)="getTableClickable() && cardSelected(card)" [ngClass]="cardsTargetStyle()" [card]="card"
                       [width]="70" [height]="108" (cardHoverEvent)="setCardHovered($event)"></app-card>
        </div>
    </div>
</div>