.base {
    border-width: 2px 0 2px 2px;
    border-color: #FFFDDD;
    border-style: solid;
    background-color: #9c6137c7; 
    height: 100%; 
    border-radius: 20px 0px 0px 20px;
}

.top-list {
    height: 65%;
    border-width: 0 0 2px 0;
    border-color: #FFFDDD;
    border-style: solid;
}

.bottom-list {
    height: 30%;
    border-width: 0 0 2px 0;
    border-color: #FFFDDD;
    border-style: solid;
}

.title {
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    border-width: 0 0 2px 0;
    border-color: #FFFDDD;
    border-style: solid;
}

.list {
    height: calc(100% - 55px);
    --scrollbar-thumb-color: #FFFDDD;
}

.form-content {
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center; 
    justify-content: center;
    text-align: center;
    height: 50px;
    margin-left: 20px;
}

.submit-button {
    margin-top: 20px;
}

.name-content {
    color:black;
    margin-left: 9px;
    margin-top: 12px;
    width: 100px;
}

.text-wrap {
    width: 110px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-content {
    color:black;
    margin-right: 35px;
    margin-top: 9px;
    position: absolute;
    right: 0;
    
}

.list-element {
    background-color: #c0906d; 
    display: flex;
    margin: 10px;
    height: 50px;
    border-width: 2px;
    border-color: #FFFDDD;
    border-style: solid;  
    color:#FFFDDD;
    border-radius: 10px;
}

.friend-button {
    border-radius: 8px;
    height: 80%;
}

.friend-accept {
    background-color:green;
}

.friend-remove {
    background-color:red;
}