<div class="base"> 

    <div class="top-list">
        <div class="title"> Friends </div>
        <div class="list">
            <div class="list-content">
                <div class="list-element" *ngFor="let friend of friends"> 
                    {{friend.name}} 
                    <button class="friend-button friend-remove" (click)="removeFriend(friend.name)" style="font-size:15px;">Rem</button>
                    <button *ngIf="inLobby" class="friend-button" (click)="sendInvite(friend.name)" style="font-size:15px;">Inv</button> 
                    <button *ngIf="friend.invitedFrom" class="friend-button" (click)="acceptInvite(friend.name)" style="font-size:15px; background-color:green;">AccI</button>    
                </div>
            </div>
        </div>
    </div> 

    <div class="bottom-list">   
        <div class="title"> Pending requests </div>
        <div class="list">
            <div class="list-content">
                <div class="list-element" *ngFor="let unacceptedFriend of unacceptedFriends"> 
                    {{unacceptedFriend.name}}         
                    <button class="friend-button friend-accept" (click)="addFriendFromList(unacceptedFriend.name)" style="font-size:15px;">Acc</button>
                    <button class="friend-button friend-remove" (click)="removeFriend(unacceptedFriend.name)" style="font-size:15px;">Rem</button>       
                </div>
            </div>
        </div>
    </div> 
    <form [formGroup]="friendAddForm" (ngSubmit)="addFriend()">
        <input type="text" placeholder="Friend name" class="form-control" formControlName="name">
        <button type="submit" class="btn btn-success"> Add friend </button>
    </form>    
</div>

