/*.lobby {
    background-image: url("../../../../assets/images/lobbyBackground.png");
    background-size: 100% ;  
    background-size: cover; 
    height: 100vh;
}*/

.friend-list {
    width: 300px;
    position: absolute;
    right: 0;
    height: 100%;
}

.password{
    text-align: center;
    margin-right: 300px;
    font-size: 60px;
    font-family: Cambria;
    color: #4e2e17; 
    font-weight: bold;
}

.list-content {
    color:black;
    margin-right: 300px;
}

.button {
    text-align: center;
    margin-right: 300px;
    margin-bottom: 10px;
}

.list-element {
    background-color: #c0906d;     
    margin: 10px;
    height: 50px;
    border-width: 2px;
    border-color: #FFFDDD;
    border-style: solid;  
    color:black;
    border-radius: 10px;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 40px;
}