<div class="container lobby">
    <div class="friend-list">
        <app-friend [inLobby]=true></app-friend>
    </div>
    <div>
        <button type="button" class="account-button" (click)="createGameBoard()"> Create game board </button>
    </div>

    <div class="list">
        <div class="list-content">
            <div class="list-element" *ngFor="let player of players"> {{player.name}} </div>
        </div>
    </div>

    <h1>Password: {{lobbyPassword}}</h1>

    <div>
        <button type="button" (click)="leaveLobby()"> Leave lobby </button>
    </div>

    <app-chat [fromBottom]="0" [animated]="false"></app-chat>
</div>
