<div class="container-fluid lobby">
    <div class="friend-list">
        <app-friend [inLobby]=true></app-friend>
    </div>

    <p class="password">Password: {{lobbyPassword}}</p>

    <div>
        <div class="list-content">
            <div class="list-element" *ngFor="let player of players"> {{player.userName}} </div>
        </div>
    </div>

    <div *ngIf="isLobbyOwner" class="button">
        <button type="button" class="btn btn-success" (click)="createGameBoard()"> Start game </button>
    </div>
    <div class="button">
        <button type="button" class="btn btn-success" (click)="leaveLobby()"> Leave lobby </button>
    </div>

    <app-chat [fromBottom]="0" [animated]="false"></app-chat>
</div>

