.card {
    position: absolute;
    top: 0;
    left: 0;  
    background-color: transparent;
    border: none;
    object-fit: contain;
    height: 100%;
    width: auto;
    min-width: 50px;
    animation: glow 2s infinite alternate;
}
.card-container {
    position: relative;
    top: 0;
    left: 0;  
    background-color: transparent;
    border: none;
    object-fit: contain;
}

.card-draw {
    margin-left: auto;
}

:host {
    --glow-color: #11b314;
}

.pick-animation {
    animation: glow 2s infinite alternate;
}

.card-bg {
    background-color: var(--glow-color);
}

@keyframes glow {
    from {
        box-shadow: 0 0 1px 1px var(--glow-color);
    }
    to {
        box-shadow: 0 0 2px 2px var(--glow-color);
    }
}