.card {
    position: absolute;
    top: 0;
    left: 0;  
    background-color: transparent;
    border: none;
    object-fit: contain;
    height: 100%;
    width: auto;
    min-width: 50px;
}

.card-container {
    position: relative;
    top: 0;
    left: 0;  
    background-color: transparent;
    border: none;
    object-fit: contain;
}

.card-draw {
    margin-left: auto;
}

.selected {
    position: absolute;
    top: 0;
    left: 0;  
    background-color: transparent;
    border: none;
    object-fit: contain;
    height: 100%;
    width: 100%;
    min-width: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}