html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("assets/images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.targetable {
    cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar {
    background-color: bisque;
    font-weight: bold;
  }
